@import "./fonts.pcss";
@import "./variables.pcss";
@import "./global.pcss";
@import "./settings/effects.pcss";
@import "./settings/typography.pcss";

@import "./pages/landing.pcss";

@import "./components/index.pcss";
